{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
            <small class="text-muted">{{ post.created }}</small>
            {% if post.author == user %}
                <div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' post.slug %}">Update</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' post.slug %}">Delete</a>
                </div>
            {% endif %}
            </div>
            {% if post.img %}
                <img class="img-thumbnail" src="{{ post.img.url }}">
            {% endif %}
            <h2>{{ post.title }}</h2>
            <p class="article-content">{{ post.body }}</p>
            <hr>
            <a class="btn btn-outline-info mb-4" href="{% url 'comment-create' slug=post.slug %}">Add Comment</a>

            <!-- <button class="btn btn-outline-info mb-4" type="submit">Add Comment</button> -->
        </div>
    </article>
    <div class="container">
      {% for comment in comments %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'user-posts' comment.author.username %}">{{ comment.author }}</a>
              <small class="text-muted">{{ comment.date }}</small>
            </div>
                <p class="article-content">{{ comment.body }}</p>
          </div>
        </article>
      {% endfor %}
    </div><!-- /container -->
{% endblock %} 